<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h1>Login</h1>
     <style>
        form
            {
            background-color:aqua;
            width:300px;
            padding:80px;
            background-size:cover;
            }
 </style>

</head>
<body>
<form action="login" method="post">
    {% csrf_token %}
     <input type="text" name="username" placeholder="Username"><br>
     <input type="password" name="password" placeholder="Enter Your  password"><br>
     <input type="submit">
</form>
</body>
</html>